/* Larger Screens Layout (min-width 768px) */

/* Mobile Menu */
@media (min-width: 768px) {
    nav ul {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }


    .menu-toggle {
        display: none;
    }

    /* Sections Layout: Display sections side by side */
    .sections-container {
        flex-direction: row;
        width: 50%;
        gap: 20px;
    }

    .activities {
        border: 3px solid rgba(3, 1, 27, 0.2);
        border-radius: 12px;
        box-shadow: 0 7px 7px rgba(0, 0, 0, 0.5);

    }

    .abia {
        border: 3px solid rgba(3, 1, 27, 0.2);
        border-radius: 12px;
        box-shadow: 0 7px 7px rgba(0, 0, 0, 0.5);
    }
}

/* Large Screens Layout (min-width 1024px) */
@media (min-width: 1024px) {
    .sections-container {
        justify-content: space-between;
    }
}