/* Larger Screens Layout (min-width 768px) */

/* Mobile Menu */
@media (min-width: 768px) {
    /* Make the selector more specific */
    header .menu-toggle {
        display: none; /* Hide hamburger button on desktop and larger */
    }
    
    #navbar {
        display: block !important; /* Force menu to show on larger screens */
    }

    nav ul {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    /* Sections Layout: Display sections side by side */
    .sections-container {
        flex-direction: row;
        width: 50%;
        gap: 20px;
    }

    .activities {
        border: 3px solid rgba(3, 1, 27, 0.2);
        border-radius: 12px;
        box-shadow: 0 7px 7px rgba(0, 0, 0, 0.5);

    }

    .abia {
        border: 3px solid rgba(3, 1, 27, 0.2);
        border-radius: 12px;
        box-shadow: 0 7px 7px rgba(0, 0, 0, 0.5);
    }

    .hero-image {
        max-width: 800px; /* Adjust as needed */
    }

    .overlay {
        position: absolute;
        top: 40%;
        left: 20%;
        transform: translate(-50%, -50%);
        color: white;
        font-size: 24px;
        font-weight: bold;
        text-align: center;
        white-space: nowrap;
        background-color: rgba(0, 0, 0, 0.5);
        padding: 10px;
    }

    .map-container {
        width: 100%;
        max-width: 960px;
        margin: 20px auto;
    }
    
    iframe {
        width: 100%;
        height: 450px;
    }

    /* discover layout */
    .discover-grid {
        display: grid;
        grid-template-columns: 1fr 3fr; /* Sidebar and gallery side by side */
        gap: 30px;
    }

    .sidebar {
        order: 1; /* Sidebar on the left */
    }

    .gallery {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Responsive grid */
    }
    
}

/* Large Screens Layout (min-width 1024px) */
@media (min-width: 1024px) {
    .sections-container {
        justify-content: space-between;
    }
    .hero-image {
        max-width: 1200px; /* Adjust as needed */
    }

    .overlay {
        position: absolute;
        top: 45%;
        left: 20%;
        transform: translate(-50%, -50%);
        color: white;
        font-size: 24px;
        font-weight: bold;
        text-align: center;
        white-space: nowrap;
        background-color: rgba(0, 0, 0, 0.5);
        padding: 10px;
    }

    .map-container {
        width: 100%;
        max-width: 1200px;
        margin: 20px auto;
    }
    
    iframe {
        width: 100%;
        height: 450px;
    }
    
    /* discover layout */
    .discover-grid {
        max-width: 1200px;
        margin: 0 auto;
    }
}